.w100.cartMiniTable
  %table#cart-summary.std.table
    %tbody
      %tr
        %td Total products
        %td.price
          {{ grandTotal() }} tk
      %tr{:style => ""}
        %td Shipping
        %td.price
          %span.success Free shipping!
      -#%tr.cart-total-price
      -#  %td Total (tax excl.)
      -#  %td.price $216.51
      -#%tr
      -#  %td Total tax
      -#  %td#total-tax.price $0.00
      %tr
        %td Total
        %td#total-price.site-color
          {{ grandTotal() }} tk
    %tbody
      / /cartMiniTable

