.container.main-container.headerOffset
  .row.innerPage
    .col-lg-12.col-md-12.col-sm-12
      .row.userInfo
        .col-xs-12.col-sm-12
          %h1.title-big.text-center.section-title-style2
            %span
              About us
          %p.lead.text-center
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          %hr.hr.hr30
            .row.animated
              .col-lg-4.col-md-4.col-sm-6.col-sm-6
                = image_tag 'girl1.jpg', :class => 'img-responsive'
                %h3.block-title-3
                  Consectetur adipiscing
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              .col-lg-4.col-md-4.col-sm-6.col-sm-6
                = image_tag 'girl2.jpg', :class => 'img-responsive'
                %h3.block-title-3
                  Lorem ipsum dolor
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              .col-lg-4.col-md-4.col-sm-6.col-sm-6
                = image_tag 'girl3.jpg', :class => 'img-responsive'
                %h3.block-title-3
                  Consectetur adipiscing
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            / /.row
            %hr
      / /row end
  / /.innerPage
  %div{:style => "clear:both"} / /.main-container
.gap