.container.main-container.headerOffset
  .row.innerPage
    .col-lg-12.col-md-12.col-sm-12
      .row.userInfo
        .col-xs-12.col-sm-12
          %h1.title-big.text-center.section-title-style2
            %span Contact us
          %p.lead.text-center
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          %hr
            .row
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                %h3.block-title-5
                  Customer care
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit
                  %br
                    %strong
                      Phone number
                    \: 	+88-01680531352
                    %br
                      %strong
                        Email us
                      \: 	contact@tanimdesign.net
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                %h3.block-title-5
                  Complaint
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus
                  %br
                    %strong
                      Phone number
                    \: 	+88-01680531352
                    %br
                      %strong
                        Email us
                      \: 	sales@tanimdesign.net
              %div{:style => "clear:both"}
              %hr
                %div.col-lg-6.col-md-6.col-sm-6.col-xs-12{:style => "clear:both"}

                  %h3.block-title-5
                    Feedback
                  %p
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus
                    %email
                      feedback@tanimdesign.net
                    %br
                      %strong
                        Email us
                      \: 	feedback@tanimdesign.net
                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                  %h3.block-title-5
                    Other Enquiries
                  %p
                    %strong
                      Corporate Sales
                    \: 	Corporate@tanimdesign.net
                    %br
                      %strong
                        Careers
                      \: 	Careers@tanimdesign.net
                      %br
                        %strong
                          Press Relations
                        \: 	pr@tanimdesign.net
                        %br
                %div{:style => "clear:both"}
                %hr
                  %div.w100.map{:style => "clear:both"}
                    %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q=london&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;ll=51.511214,-0.119824&amp;spn=0.007264,0.021136&amp;t=m&amp;z=14&amp;output=embed", :width => "100%"}
                    %br/
                    %small
                      %a{:href => "https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=+&amp;q=london&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;ll=51.511214,-0.119824&amp;spn=0.007264,0.021136&amp;t=m&amp;z=14", :style => "color:#0000FF;text-align:left"}
                        View Larger Map

  %div{:style => "clear:both"}
.gap