/ /.Fixed navbar
.container.main-container.headerOffset
  / Main component call to action
  .row
    .breadcrumbDiv.col-lg-12
      %ul.breadcrumb
        %li
          %a{:href => "index.html"} Home
        %li.active MEN COLLECTION
  / /.row
  .row
    / left column
    .col-lg-3.col-md-3.col-sm-12
      = render :partial => 'side_menu_category'
    / right column
    .col-lg-9.col-md-9.col-sm-12.filtered_products
      = render :partial => "shared/show_products", :locals => {:products => @products}
      .w100.categoryFooter
        .pagination.pull-left.no-margin-top
          %ul.pagination.no-margin-top
            %li
              %a{:href => "category.html#"} «
            %li.active
              %a{:href => "category.html#"} 1
            %li
              %a{:href => "category.html#"} 2
            %li
              %a{:href => "category.html#"} 3
            %li
              %a{:href => "category.html#"} 4
            %li
              %a{:href => "category.html#"} 5
            %li
              %a{:href => "category.html#"} »
        .pull-right.pull-right.col-sm-4.col-xs-12.no-padding.text-right.text-left-xs
          %p Showing 1–450 of 12 results

.gap